/* rewrite using SCSS !*/
/* all classnames are design to be refactored using SCSS */
body {
    background-color: #e7ebf0;
    font-family: Arial, Helvetica, sans-serif;
}

.doors-app--container {
    margin: 0 auto;
    width: 1100px;
    padding-top: 3rem;
    padding-bottom: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.loading--container {
    margin: 0 auto;
    width: 300px;
    padding-top: 3rem;
}

.loading--container img {
    width: 300px;
    height: 300px;
    box-shadow: inset 0 0 10px #fff, -10px 0 15px rgb(255 0 255 / 12%),
        10px 0 15px rgb(0 255 255 / 12%);
}

.door-component--container {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-top: 1rem;
    margin-right: 1rem;
    min-height: 300px;
    padding: 1rem;
    border-radius: 4px;
    background-color: white;
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%),
        0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}

.door-component--container:hover {
    outline: 1px solid #0276aa;
    box-shadow: inset 0 0 10px #fff, -10px 0 15px rgb(255 0 255 / 12%),
        10px 0 15px rgb(0 255 255 / 12%);
}

.door-component--header {
    display: flex;
    flex-direction: row;
}

.door-component--title {
    display: flex;
    font-size: 18pt;
}

.door-component--title span {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14pt;
    padding-left: 0.25rem;
    padding-top: 0.1rem;
}

.door-component--status {
    display: flex;
}

.door-component--image-container {
    display: flex;
    margin-top: 1rem;
    width: 100%;
    height: 200px;
}

.door-component--image {
    display: flex;
    min-width: 332px;
    margin-left: -1rem;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.status--container {
    display: flex;
    padding-right: 0.5rem;
}

.status--container-circle {
    display: flex;
    align-self: center;
    border-radius: 50%;
    min-width: 0.5rem;
    min-height: 0.5rem;
    max-height: 0.5rem;
}

.open {
    background-color: #357a38;
}

.closed {
    background-color: #ab003c;
}

.door-component--info-title {
    padding-top: 1rem;
    font-size: 20px;
    color: #414141;
    font-weight: 300;
}

.door-component--info {
    display: flex;
    flex-direction: column;
    font-size: 14px;
}

.door-component--info span {
    margin-top: 0.5rem;
}

.door-component--button-container {
    display: flex;
    justify-content: end;
    padding-top: 1rem;
}

.button-component {
    background-color: #35baf6;
    border: 0;
    width: 100px;
    height: 2rem;
    border-radius: 4px;
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%),
        0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
    color: white;
    font-size: 14px;
}

.button-component:hover {
    background-color: #03a9f4;
}

.button-component:active {
    background-color: #0276aa;
}

.detailed-view--container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.user-component--container {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-top: 1rem;
    margin-right: 1rem;
    min-height: 350px;
    padding: 0 1rem;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%),
        0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}

.user-avatar {
    display: flex;
    width: 100%;
    height: 200px;
}

.user-avatar img {
    display: flex;
    min-width: 332px;
    margin-left: -1rem;
    height: 100%;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
    object-position: center;
}

.user-info {
    display: flex;
    padding-top: 1rem;
    flex-direction: column;
}

.user-info span {
    display: flex;
    font-size: 14px;
    margin-top: 0.5rem;
}

.detailed-view--no-data {
    font-size: 24px;
}

.separator--line {
    margin-top: 0.5rem;
    height: 1px;
    background-color: rgb(163, 163, 163);
    border-top: #414141;
    width: 100%;
}

.data--container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
