body {
    background-color: #e7ebf0;
    font-family: Arial, Helvetica, sans-serif;
}

.doors-app--container {
    margin: 0 auto;
    width: 1100px;
    padding-top: 3rem;
    padding-bottom: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.door-component--container {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-top: 1rem;
    min-height: 300px;
    padding: 1rem;
    border-radius: 4px;
    background-color: white;
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%),
        0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}

.door-component--header {
    display: flex;
    flex-direction: row;
}

.door-component--name {
    display: flex;
    font-size: 18pt;
}

.door-component--status {
    display: flex;
}

.door-component--image-container {
    display: flex;
    margin-top: 1rem;
    width: 100%;
    height: 200px;
}

.door-component--image {
    display: flex;
    width: 332px;
    margin-left: -1rem;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.status--container {
    display: flex;
    padding-right: 1rem;
}

.status--container-circle {
    display: flex;
    align-self: center;
    border-radius: 50%;
    min-width: 1rem;
    min-height: 1rem;
    max-height: 1rem;
}

.open {
    background-color: #357a38;
}

.clsoed {
    background-color: #ab003c;
}

.door-component--info {
    display: flex;
    flex-direction: column;
    font-size: 14px;
}

.door-component--info span {
    margin-top: 0.5rem;
}
